#root {
  cursor: pointer;
  width: 100%;
  font-size: var(--sl-font-size-small);

  display: flex;
  flex-direction: row;

  &:hover {
    background-color: var(--sl-color-neutral-200);
  }

  .label {
    flex: 1 1 auto;

    display: flex;
    align-items: center;

    overflow: hidden;

    padding: 1px var(--sl-spacing-2x-small);
    padding-right: 0;

    &:hover {
      color: var(--sl-color-primary-800);
      text-decoration: underline;
      font-weight: bold;
    }

    .task-title {
      margin-top: -1px;
      margin-left: 2px;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .overdue {
    color: var(--sl-color-danger-600);
  }

  .icon {
    flex: 0 0 auto;
  }
}
