#root {
  cursor: pointer;
  width: 100%;
  font-size: var(--sl-font-size-small);

  display: flex;
  flex-direction: row;

  &:hover {
    background-color: var(--sl-color-neutral-200);
  }

  .label {
    flex: 1 1 auto;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    margin-top: 1px;
    padding: 1px var(--sl-spacing-2x-small);
    padding-right: 0;

    &:hover {
      color: var(--sl-color-primary-800);
      text-decoration: underline;
    }
  }

  .icon {
    flex: 0 0 auto;
  }
}
