.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr 30px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "header-area header-area"
    "menu-area contents-area"
    "footer-area footer-area";

  height: 100vh;

  .header-area {
    grid-area: header-area;
    background-color: #3f9aae;
  }

  .menu-area {
    grid-area: menu-area;
    background-color: #79c9c5;
  }

  .contents-area {
    grid-area: contents-area;
    background-color: #ffe2af;
  }

  .footer-area {
    grid-area: footer-area;
    background-color: #f96e5b;
  }
}
