.scrollable {
  overflow-y: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--sl-color-neutral-400);
    border-radius: var(--sl-border-radius-medium);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    background-clip: padding-box;

    &:hover {
      background-color: var(--sl-color-neutral-500);
    }

    &:active {
      background-color: var(--sl-color-neutral-600);
    }
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: var(--sl-border-radius-medium);
  }
}
